{% extends base.html %}

{% block header %}
    {% if user_id %}
        {{ user.username }} / <a href="{{ reverse_url('logout') }}">Logout</a>
    {% else %}
        <a href="{{ reverse_url('login') }}">Login</a> / <a href="{{ reverse_url('register') }}">Register</a>
    {% end %}
{% end %}

{% block body %}
    {% if user_id %}
        <section class="mb-5">
            <h2>Channels</h2>
            {% if user.channels %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Level</th>
                            <th scope="col">Enabled</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, channel in enumerate(user.channels) %}
                            <tr>
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ channel.name }}</td>
                                <td>{{ channel.min_level }}</td>
                                <td>{{ channel.enabled }}</td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            {% else %}
                No channels yet. Receving a notification will create one automatically.
            {% end %}
        </section>

        <section class="mb-5">
            <h3>API keys</h3>
            {% if user.api_keys %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Key</th>
                            <th scope="col">Enabled</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, api_key in enumerate(user.api_keys) %}
                            <tr>
                                <th scope="row">{{ i + 1 }}</th>
                                <td>
                                    {{ api_key.key }}
                                    <a href="#">Copy</a>
                                </td>
                                <td>{{ api_key.enabled }}</td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            {% else %}
                No API keys yet.
            {% end %}
            <form action="{{ reverse_url('new_api_key') }}" method="post">
                <input type="submit" class="btn btn-primary" value="Generate new API key" />
            </form>
        </section>
    {% end %}
{% end %}
